body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.s1{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background-color: #5c71e3;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: rgb(155, 42, 42);
    margin: 0 5px;
}

main {
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="search"] {
    flex-grow: 1;
    padding: 5px;
    margin-right: 10px;
}

form button {
    padding: 5px 10px;
}

.vuichoi {
    float: left;
    width: 30%;
    padding: 20px;
    background-color: #f1f1f1;
    text-align: center;
}

.vuichoi h3 {
    margin-top: 0;
    text-align: center;
}

.main {
    float: right;
    width: 70%;
    padding: 20px;
}

footer {
    background-color: #d84828;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}
.khung-dat-phong{
    max-width: 250px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}
